<div class="card">
    <img src="https://images.pexels.com/photos/3482442/pexels-photo-3482442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
    alt="img" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center small">Featured</small>
        <small class="bg-light text-info text-center small">Views - 120</small>

        <h5 class="mt-1">How to become a highly trained code monkey.</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Rerum labore, eligendi, cum voluptatum repellendus iure neque dolores quis quos tenetur sed blanditiis recusandae!
              Dolor, minus nesciunt eius aliquam delectus optio.</p>
        <small class="bg-light text-info text-center small">Last Updated - March 21, 2023</small>
    </div>
</div>
