<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img-fluid" 
                src="https://images.pexels.com/photos/9227251/pexels-photo-9227251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div class="car-body p-4">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center small">Feature</small>
                    <small class="bg-light text-info text-center small">Views - 100.879</small>
                    <small class="bg-light text-warning text-center small">Last Updated - March 21, 2023</small>

                    <h1 class="mt-3 mb-3">How to become a highly trained code monkey.</h1>
                    <p>
                        What is the lorem ipsum?
                        
                        Have you ever read a webpage or document that used this text without paying much attention to it? The lorem ipsum is a placeholder text used in publishing and graphic design. This filler text is a short paragraph that contains all the letters of the alphabet. The characters are spread out evenly so that the reader’s attention is focused on the layout of the text instead of its content. Many software programs and applications have made it their default dummy text. Since the lorem ipsum is always used as a placeholder text, its use indicates that this is not a final version of a document, thus helping to avoid unnecessary printing.
                        Where does it come from?
                        
                        The lorem ipsum is based on De finibus bonorum et malorum, a Latin text written by Cicero in 45 BC. Typographers and printers have used passages from this work for formatting since the 16th century. Many words have been added or modified over the centuries. As a result, the lorem ipsum is no longer considered Latin, even though it looks a lot like it.
                        
                        The lorem ipsum gets its name from the Latin phrase Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. which translates to “Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.”
                        How is it Generated?
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
</div>
