<div class="card mt-2">
    <div class="card-body">
        <div class="text-center mt-3 mb-3">
            <h3>Subscription</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Velit porro ex praesentium deserunt illum! Nulla, voluptatibus tempora.
                  Impedit dolore corporis deleniti autem! Nihil dolores hic mollitia iste eaque iure distinctio?</p>
                  
            <form action="" class="form-inline row mb-3 mt-3">

                <div class="form-group col-md-5">
                    <input type="text" class="form-control" placeholder="Name...">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control" placeholder="Email...">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
