<div class="card mb-5 mt-5 pb-5 shadow">
    <div class="card-body">
        <h4 class="mt-3 mb-4">Comments (4234)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Chris Doe</h6>
            <small class="text-danger">Last Updated - March 21, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 margin">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Chris Doe</h6>
            <small class="text-danger">Last Updated - March 21, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 margin">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Chris Doe</h6>
            <small class="text-danger">Last Updated - March 21, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 margin">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Chris Doe</h6>
            <small class="text-danger">Last Updated - March 21, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.Lorem ipsum dolor,
                sit amet consectetur adipisicing elit.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 margin">View Reply</a>
            <hr>
        </div>
</div>
